@page
@*@page"{searchString}"   此种写法可以改变路由格式为 http://***.com/searchString*@
@model AspNetCore_RazorPages.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "影片列表";
}
<style type="text/css">
    /*    .input-group-btn h4{
        font-size:1.0rem;
    }
    .input-group-btn{
        text-align:center;
        vertical-align:central;
    }
    select{
        width:280px
    }*/
</style>

<h1>影片列表</h1>

<p>
    <a asp-page="Create">新建</a>
</p>
<form>
    <div class="row">
        <div class="col-md-10">
            <div class="input-group">
                <div class="input-group-btn col-md-2">
                    <h5>影片名称：</h5>
                </div>
                <div class="input-group-btn col-md-3">
                    <input type="text" asp-for="SearchString" class="form-control" />
                </div>
                <div class="input-group-btn col-md-2">
                    <h5>影片流派：</h5>
                </div>
                <div class="input-group-btn col-md-3">
                    <select class="form-control" asp-for="MovieGenre" asp-items="Model.Genres">
                        <option value="">All</option>
                    </select>
                </div>
                <div class="input-group-btn">
                    <input type="submit" value="搜索" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].ReleaseData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movie[0].Rating)
            </th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movie)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReleaseData)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">编辑</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">详情</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
