@using AspNetCore_MVC_EFCodeFirst.Models
@using AspNetCore_MVC_EFCodeFirst.ViewModel
@model InstructorDetailData

@{
    ViewData["Title"] = "详情";
}

<h1>详情</h1>
<div>
    <h4>讲师</h4>
    <hr />
    <table class="table table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Instructor.FullName)</th>
                <th>@Html.DisplayNameFor(model => model.Instructor.HireDate)</th>
                <th>@Html.DisplayNameFor(model => model.Instructor.OfficeAssignment.Location)</th>
                <th>@Html.DisplayNameFor(model => model.Instructor.CourseAssignments)</th>
                <th class="text-end">操作</th>
            </tr>
        </thead>
        <tbody>
            <tr class="table-primary">
                <td>@Html.DisplayFor(model => model.Instructor.FullName)</td>
                <td>@Html.DisplayFor(model => model.Instructor.HireDate)</td>
                <td>
                    @if (Model.Instructor.OfficeAssignment != null)
                    {
                        @Html.DisplayFor(model => model.Instructor.OfficeAssignment.Location)
                    }
                </td>
                <td>
                    @foreach (var course in Model.Instructor.CourseAssignments)
                    {
                        @course.Course.CourseID @course.Course.Title<br />
                    }
                </td>
                <td class="text-end">
                    <a asp-action="Details" asp-route-id="@Model.Instructor.ID"><i class="far fa-hand-pointer"></i></a>
                </td>
            </tr>
        </tbody>
    </table>

    @if (Model.Courses != null)
    {
        <h4>课程</h4>
        <hr />
        <table class="table table-hover">
            <tr>
                <th>课程代码</th>
                <th>课程名称</th>
                <th>所属院系</th>
                <th class="text-end">操作</th>
            </tr>
            @foreach (var item in Model.Courses)
            {
                string selectedRow = "";
                if (item.CourseID == (int?)ViewData["CourseID"])
                {
                    selectedRow = "table-primary";
                }
                <tr class="@selectedRow">
                    <td>@item.CourseID</td>
                    <td>@item.Title</td>
                    <td>@item.Department.Name</td>
                    <td class="text-end">
                        <a asp-action="Details" asp-route-courseID="@item.CourseID"><i class="far fa-hand-pointer"></i></a>
                    </td>
                </tr>
            }
        </table>
    }

    @if (Model.Enrollments != null)
    {
        <h4>学生</h4>
        <hr />
        <table class="table table-hover">
            <tr>
                <th>学生姓名</th>
                <th>考核等级</th>
            </tr>
            @foreach (var item in Model.Enrollments)
            {
                <tr>
                    <td>@item.Student.FullName</td>
                    <td>@Html.DisplayFor(modelItem => item.Grade)</td>
                </tr>
            }
        </table>
    }
</div>
<div>
    <div class="btn-group">
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.Instructor.ID">编辑</a>
    </div>
    <div class="btn-group">
        <a class="btn btn-primary" asp-action="Index">返回列表</a>
    </div>
</div>
