@model AspNetCore_MVC_EFCodeFirst.Models.Student

@{
    ViewData["Title"] = "详情";
}

<h1>详情</h1>

<div>
    <h4>学生</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.EnrollmentDate)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.EnrollmentDate)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.LastName)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.LastName)</dd>

        <dt class="col-sm-2">@Html.DisplayNameFor(model => model.FirstMidName)</dt>
        <dd class="col-sm-10">@Html.DisplayFor(model => model.FirstMidName)</dd>
    </dl>
</div>
<div>
    <div class="btn-group">
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ID">编辑</a>
    </div>
    <div class="btn-group">
        <a class="btn btn-primary" asp-action="Index">返回</a>
    </div>
</div>
